@media (min-width: 768px) {
  .Grid {
    display: flex;
  }

  .Grid > *:first-child {
    flex: 1 1 70%;
  }

  .Grid > *:nth-child(2) {
    flex: 1 1 30%;
  }
}

@media (max-width: 400px) {
  .Grid {
    flex-direction: column;
    align-items: stretch;
  }

  .Grid > * {
    flex: 1 0 auto;
  }
}
