.User {
  display: grid;
  grid-template-columns: 100px 3fr 1fr;
  gap: 1.5rem;
  border: 1px dashed #0000FF;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem;
}
.User__controls button:active {
  border-color: #1804af;
}

.User__controls button {
  margin: 0;
  border: 1px solid rgb(127, 167, 249);
}

.User__about {
  display: grid;
  justify-content: center;
  align-items: center;
}

.User ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.User__avatar img {
  width: 100%;
  border-radius: 100%;
}

.User__name {
  font-weight: 900;
  font-size: 1.5rem;
}
@media (max-width: 570px) {
  .User {
    display: grid;
    grid-template-columns: auto;
    gap: auto;
  }
}
