.Error {
  color: red;
  width: 60vw;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px dashed blue;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem;
}
