.Error{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 40vh;
    margin: 3px 3px 3px 3px;
    font-size: x-large;
    font-weight: bold;
    background-color: red;
    text-align: center;
}