.Container {
    width: 60vw;
    height: 80vh;
    border-radius: 5px;
}



.Container--center {
    display: grid;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 580px){
    .Container{
        display: grid;
        align-items: center;
        justify-content: center;
    
    }
}