.SearchBar {
    height: calc(100% - 41px);
    padding: 16px 0;
  }
  .SearchBar input:active {
    border-color: #1804af;
  }
  .SearchBar input:focus {
    border-color: #156cbd;
  }
  .SearchBar input {
    border: 1px solid rgb(127, 167, 249);
  }
  .SearchBar button {
    margin: 0;
    border: 1px solid rgb(127, 167, 249);
  }
  @media (max-width: 570px) {
    .SearchBar {
      display: grid;
      grid-template-columns: auto;
      gap: auto;
    }
  }